<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>
        Resume Maker
    </title>
    
    <link href='/static/css/style1.css' rel="stylesheet" />
</head>

<body>
    <!-- partial:index.partial.html -->
    <div id="javascript_header">
    </div>
    <form method="POST">
        {% csrf_token %}
        <br>
         <!-- <p class="messages">
            {% for message in messages %} 
            {% if message.tags == success %}
                class="{{ message.tags }}" 
                <p style="color:green;">{{ message }}</p>
             {% endif %} 
            <p style="color:red;">{{ message }}</p>
            {% endfor %}
        </p> -->
        <div class="form__header">
            <h1>
                Update Password
            </h1>
            <!-- <p>
                Enter your login details below.
            </p> -->
            {% csrf_token %}
            <br>
            
        </div>
        
        {% if not request.user.is_authenticated %}
        <div class="form-group">
          <label for="name">
            Username
            <span>
              *
            </span>
          </label>
          <input id="username" name="username" type="text" required="" />
          <div class="error" id="name__error">
          </div>
        </div>
        {% endif %}
        <div class="form-group">
            <label for="name">
                Current Password
                <span>
                *
                </span>
                </label>
            <input id="current_password" name="current_password" type="password" required="" />
            <div class="error" id="name__error">
            </div>
        </div>
        <div class="form-group">
            <label for="password">
                New Password
                <span>
                *
                </span>
                </label>
            <input id="new_password" name="new_password" type="password" required="" />
        </div>
        <div class="form-group">
            <label for="password">
                Confirm Password
                <span>
                *
                </span>
                </label>
            <input id="confirm_password" name="confirm_password" type="password" required="" />
        </div>
        <div class="line-break">
        </div>
        <!-- <button type="submit" name="submit" value="submit" id="show-toast" >Update</button> -->
        <input id="show-toast"  type="submit" value="Update" /> 
        <p class="messages">
            {% for message in messages %} 
            {% if message.tags == success %}
                class="{{ message.tags }}" 
                <p style="color:green;">{{ message }}</p>
             {% endif %} 
            <p style="color:red;">{{ message }}</p>
            {% endfor %}
        </p>
        <a href="{% url 'sign_in' %}">Sign In</a>
      </form>
    <!-- partial -->
    <script src='/static/script.js'></script>
    <script src='/static/toast/script.js'></script>
</body>

</html>